*{
    /*border: 1px solid black;*/
    font-family: Montserrat;
}
#logo{
    width: 200px;
}

#navbarsearch{
    visibility: visible;
    height: auto;
}
.list-group{
    list-style: none!important;
}
a{
    text-decoration: none!important;
    color: black!important;
}
#imgMenu{
    width: 30px;
    height: 30px;
}
.redes{
    width: 25px;
    height: 25px;
}
#searchbar{
    width: 50%!important;
    height: 100%!important;
    align-items: center!important;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}
#sliderImg{
    border-radius: 10px;
    width: 90%;
    height: auto;
}
.card-body:hover, .card:hover{
    background-color: black!important;
    color: white;
}
.card-img-top{
    height: 400px;
}
@font-face {
    font-family: Montserrat;
    src: url(Montserrat.ttf);
}
#footer{
    height: 120px!important;
}
#rowfooter{
    height: 100%!important;
}
#logofooter{
    width: 80px;
    height: 80px;
}
#logofooter:hover{
    width: 90px;
    height: 90px;
}
#newsletter{
    width: 75%!important;
    height: auto!important;
    background-color: lightgrey;
    font-weight: 600;
}
#formnewsletter{
    width: 100%!important;
    height: 100%!important;
}

#imgcard6, #imgcard7, #imgcard8{
    height: 220px!important;
}
#inputmail{
    width: 75%!important;
}
#labelmail{
    width: 550px!important;
}
#btnmail{
    margin-top: 5px;
}
#prodcardNaruto, #prodcardLuffy, #prodcardEren{
    object-fit: contain!important;
}
#prodtitle{
    font-size: 75px!important;
}
#shonen{
    display: flex;
    height: 300px;
    background-image: url("shonenbanner.jfif");
    background-position: center;
    font-size: 90px;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
}
#seinen{
    display: flex;
    height: 300px;
    background-image: url("seinen\ banner.jpg");
    background-position: center;
    font-size: 90px;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    background-size: cover;
}
#drama{
    display: flex;
    height: 300px;
    background-image: url("drama\ banner.jpg");
    background-position-y: 0px;
    font-size: 90px;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    background-size: cover;
}
#romance{
    display: flex;
    height: 300px;
    background-image: url("romance\ banner.jpg");
    background-position: center;
    font-size: 80px;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    background-size: cover;
}
.opacity{
    width: 100%;
    justify-content: center;
    height: auto;
    background-color: black;
    opacity: 0.8;
    display: flex;
    align-items: center;
}
.titleCateg{
    opacity: 1!important;
    color: white;
}
#backgroundForm{
    background-color: grey;
    width: 50%;
}
.labelAccount{
    color: white;
    font-size: 20px;
}
h3{
    width: auto!important;
}